{% load static %}

<head>
    <title>Достопримечательности</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" title="style"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body class="container dostoprim">
    <header class="header sec_menu">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static '/img/logo.png' %}" alt="Логотип" width="230" height="100"></a>
        </div>
        <div class="btn-pref">
            <a href="{% url 'jivie_uroki' %}"><img src="{% static '/img/BtnPrev.png' %}" alt="Логотип"></a>
        </div>
    </header>
    <div class="dostoprim_head">
        <div class="dostoprim_menu text">
            <p>
                Интерактивные элементы <br>
                дополняют наглядное знакомство<br>
                с достопримечательностями России.<br>
                Занятие идеально подходит для первого<br>
                посещения экспозиции музея.<br><br>
                Длительность занятия: 60 минут<br>
            </p>
        </div>
        <div class="dostoprim_menu text">
            <p>
                Занятие разработано для учеников<br>
                1-4 классов. Дети в увлекательной<br>
                форме знакомятся с такими<br>
                понятиями, как:<br>
                - достопримечательность<br>
                - памятник<br>
                - архитектура<br>
                - столица<br>
                - Родина<br>
            </p>
        </div>


        <div class="dostoprim_menu">
            <img class="image" src="{% static 'img/les/DostoprimFoto.jpg' %}"  alt="Живые уроки" width="520" height="340">
        </div>
    </div>
    <div class="dostoprim_head text">
        <div>
            <p>Занятие разработано совместно с отделом образования Московского района и одобрено Комитетом по образованию Санкт-Петербурга.</p>
            <p class="dostoprim_text">Подробности по телефону: +7(931)002-93-57, +7(812)495-54-65</p>
        </div>
    </div>
    <!-- <footer>
         <h4>Музей «Гранд Макет Россия» © 2020</h4>
    </footer> -->
    <script src="{% static 'JS/script.js' %}"></script>
</body>

